*,*::before,*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: #CCC;
	font-family: sans-serif;
}

.calendar {
	margin: 48px auto;
	width: 480px;
	height: 320px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .2);
}

.title {
	position: relative;
	text-align: center;
	border-bottom: 1px solid #CCC;
	padding: 8px 0;	
}

.month {
	font-size: 24px;
}

.year {
	font-size: 12px;
}

.blue {
	color: #3CC;
}

.lightgray {
	color: #CCC;
}

.darkgray {
	color: #666;
}

#pre-month,#next-month {
	width: 24px;
	height: 24px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	outline: none;
}

#pre-month {
	left: 12px;
	top: 18px;
	background-image: url("pre.png");
}

#next-month {
	right: 12px;
	top: 18px;
	background-image: url("pre.png");
	transform: rotate(180deg);
}

.weeklist {
	height: 36px;
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.weeklist li {
	text-align: center;
	flex: 1;
}

.daylist {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
}

.daylist li {
	height: 36px;
	line-height: 36px;
	flex: 0 0 68.5px;
	text-align: center;
	cursor: pointer;
}

.daylist li:hover {
	background-color: rgba(0, 0, 0, .1);
	border-radius: 4px;
}

.daylist li.active {
	background-color: #3CC;
	border-radius: 4px;
	color: #FFF;
	border: 1px solid #3CC;
}






















