@font-face {
	font-family: 'my-font';
	src: url('font/fontwasome-wefont.ttf'),url('font/fontawesome-webfont.eot'),url('font/fontawesome-webfont.woff');
}

section {
	width: 90%;
	height: 240px;
	margin: 30px auto;
	background-color: #6699CC;
	text-align: center;
	padding: 64px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.icon {
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	background-color: #FFF;
	font-size: 32px;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, .8);
	margin-right: 8px;
	color: #69C;
	font-family: 'my-font';
	-webkit-animation: move 1s 1s cubic-bezier(.81,-0.62,.23,1.92);
	-0-animation: move 1s 1s cubic-bezier(.81,-0.62,.23,1.92);
	animation: move 1s 1s cubic-bezier(.81,-0.62,.23,1.92);
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes move {
	from {
		opacity: 0;
		-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
	}
}

.home {
	-webkit-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.home::before {
	content: '\f015';
}

.search {
	-webkit-animation-delay: .1s;
	-o-animation-delay: .1s;
	animation-delay: .1s;
}

.search::before {
	content: '\f002';
}

.user {
	-webkit-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}

.user::before {
	content: '\f007';
}

.mail {
	-webkit-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}

.mail::before {
	content: '\f0e0';
}

.chat {
	-webkit-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}

.chat::before {
	content: '\f075';
}
